anyio==4.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
gTTS==2.5.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
keyboard==0.13.5
pafy==0.5.5
psutil==5.9.8
python-vlc==3.0.20123
requests==2.32.3
sniffio==1.3.1
SpeechRecognition==3.10.4
typing_extensions==4.12.0
urllib3==2.2.1
watchdog==4.0.1
youtube-dl==2021.12.17
youtube-search-python==1.6.6
